In [5]:
import pandas as pd
student_d =  {'Name': ['James', 'Mike', 'Sally'],
              'School': ['Business', 'Law', 'Engineering']}

student_df = pd.DataFrame(data=student_d).set_index('Name')
student_df

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [6]:

staff_d =  {'Name': ['Kelly', 'Sally', 'James'],
              'Role': ['Director of HR', 'Course Liason', 'Grader']}

staff_df = pd.DataFrame(data=staff_d).set_index('Name')
staff_df

                 Role
Name
Kelly  Director of HR
Sally   Course Liason
James          Grader

In [7]:
pd.merge(student_df,staff_df,how='left',left_index=True,right_index=True)

            School           Role
Name
James     Business         Grader
Mike           Law            NaN
Sally  Engineering  Course Liason

In [8]:


frames = ['P2010', 'P2011', 'P2012', 'P2013','P2014', 'P2015']

df = {}

df['AVG'] = df[frames].apply(lambda z: np.mean(z), axis=0)
result_df = df.drop(frames,axis=1)
result_df

NameError: name 'df' is not defined

In [9]:
import pandas as pd
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

In [10]:
pd.Period('01/12/2019', 'M') + 5

Period('2019-06', 'M')